<div style="text-align:center">
  <table id="<%= id %>" style="margin:auto;"></table>
  <script type="text/javascript">
    adarender.setTableData(
      document.getElementById('<%= id %>'),
      adadata_<%= datasetname %>.<%= tablehead %>,
      adadata_<%= datasetname %>.<%= tablebody %>);
  </script>
</div>
