<div class="center">
  <table id="<%= id %>" class="centertable"></table>
  <script type="text/javascript">
    var st<%= id %> = new adarender.SortTable('<%= id %>',       
      document.getElementById('<%= id %>'),
      adadata_<%= datasetname %>.<%= tablehead %>,
      adadata_<%= datasetname %>.<%= tablebody %>);
  </script>
</div>
