<div id="<%= id %>" class="img-wrap-bd">
  <div class="img-wrap">
    <% for(var i = 0; i < items.length; ++i) { %>
    <a class="img-item" target="_blank" href="<%= items[i].url %>">
      <div class="cover-wp">
        <img src="<%- items[i].img %>" alt="<%= items[i].title %>" />
      </div>
      <p>
        <% if (items[i].isnew) {%>
        <span class="green">
          <img
            src="https://cdn.jsdelivr.net/npm/adarender@0.6.63/dist/iw_new.png"
            width="16"
            class="new"
          />
        </span>
        <% } %> <%= items[i].title %>
        <strong><%= items[i].score %></strong>
      </p>
    </a>
    <% } %>
  </div>
</div>
